/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #000;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */

header {
  background-color: #f2f2f2;
  position: fixed; /*navigation sticks on top*/
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/*Logo Image*/

.logo-link {
  display: inline-block;
  margin-right: 20px;
}

.logo-image {
  width: 400px; /* Adjust width */
  height: auto;
}

/*Home Accountant Image*/

.accountant-container {
  width: 100%;
  max-width: 3000px; /* Maximum width for the image container */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.accountant-image {
  width: 100%;
  height: auto;
  max-height: 900px; /* Maximum height for the image */
  display: block;
}

/* Main Content Styles */

section {
  padding: 50px 0;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-content {
  font-size: 16px;
  line-height: 1.5;
}

/* About Section Styles */

#about {
  background-color: #f9f9f9;
  margin: 100px auto 100px auto;
  padding: 80px;
  width: 90%;
  text-align: left;
  line-height: 2;
}

/* Services Section Styles */

hr{
  border: none;
  height: 2px;
  background-color: rgba(50, 122, 246, 0.995);
  font-weight: bold; 
}


h4 {
  color:#878585;
  margin-bottom: 20px;
}

#services {
  background-color: #fff;
  
}

.service-item{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  
}

.service-text{
  display: block;
}

.individuals-icon{
  width: 200px;
  height: 200px;
  background-color: #333;
  color: #fff;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}
.professionals-icon{
  width: 200px;
  height: 200px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 20px;
  float: right;
}

.businesses-icon {
  width: 200px;
  height: 200px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

/* Contact Section Styles */

/* Map Style */

#contact {
  background-color: #f9f9f9;
  display: flex;
}

.contact-form-container {
  flex-basis: 50%;
  padding: 20px;
}

.map-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form .form-group {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .form-group textarea {
  height: 120px;
}

.contact-form .form-group button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.footer-info {
  text-align: left;
  padding: 20px;
}

h5 {
  color:  #979595;
  text-align: center;
}



/* Back-to-top Button */


#myBtn {

  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #007bee;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}


#myBtn:hover {
  background-color: #555;
}

/* Accessibility Toolbar Styles

.accessibility-toolbar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 9999;
}

#accessibility-button {
  background-color: #0e33a3;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}  */
.accessibility-toolbar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#accessibility-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.person-icon {
  font-size: 24px;
}

#accessibility-button:focus {
  outline: none;
}

#accessibility-options {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#accessibility-options h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#accessibility-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#accessibility-options li {
  margin-bottom: 10px;
}

#accessibility-options input[type="checkbox"] {
  margin-right: 5px;
}


/* Additional CSS for Accessibility Options */

  /* high contrast style */
  .high-contrast {
    color: #fff;
    background-color: #000;

  }
  
  .high-contrast a {
    color: #ff0;
  }
  
  .high-contrast h1,
  .high-contrast h2,
  .high-contrast h3,
  .high-contrast h4,
  .high-contrast h5,
  .high-contrast h6 {
    color: #fff;
  }
  
  .high-contrast p {
    color: #fff;
  }
  
  .high-contrast .section-title {
    color: #ff0;
  } 
  


  /* large text style*/
  .large-text {
    
    font-size: 18px;
  }
  
  .large-text h1 {
    font-size: 32px;
  }
  
  .large-text h2 {
    font-size: 28px;
  }
  
  .large-text h3 {
    font-size: 24px;
  }
  
  .large-text p {
    font-size: 20px;
  }
  

